:local {
  .container {
    background-color: black;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
  }

  .topBar {
    position: absolute;
    z-index: 10;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actionBtn {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px;
    color: white;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .fullscreen {
    height: 80%;
    width: 100%;
  }

  .panel {
    min-height: 250px;
    padding: 16px;
    overflow: auto;

    .gameModePanel {
      margin-bottom: 12px;
      display: flex;
      justify-content: center;
      gap: 12px;
    }

    .rubikBtnPanel {
      display: flex;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .overlay {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlayContent {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
}
